<% if @game.counter.odd? %>
<h2>You attacked <%=@game.player2.name%>!</h2>
<% else %>
<h2>You attacked <%=@game.player1.name%>!</h2>
<% end %>
<% if @game.player2.hitpoints <= 0 || @game.player1.hitpoints <= 0 %>
<form action="/victory">
  <input type="submit" value="ok"/>
</form>
<% else %>
<form action="/names">
  <input type="submit" value="ok"/>
</form>
<% end %>
