<center>
<h1> Welcome combattants, please enter your names below</h1>
<form name ="input" action="/enter_names" method = "post">
<p>player 1: <input type="text" name="player1"></p>
<p>player 2: <input type="text" name="player2"></p>
<input type="submit" value="Submit">
</form>
</center>
