<h1> Please enter Player1 name</h1>
<h1>Please enter Player2 name</h2>

<form name ="input" action="/names" method = "post">
  player1 <input type="text" name="player1">
  player2 <input type="text" name="player2">
<input type="submit" value="Submit">
</form>
